<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/start/jquery-ui.css"rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
$(function() {
  $(".resizable").resizable({
    start: function(event, ui) {
      ui.element.append($("<div/>", {
        id: "iframe-barrier",
        css: {
          position: "absolute",
          top: 0,
          right: 0,
          bottom: 0,
          left: 0,
          "z-index": 10
        }
      }));
    },
    stop: function(event, ui) {
      $("#iframe-barrier", ui.element).remove();
    },
    resize: function(event, ui) {
      $("iframe", ui.element).width(ui.size.width).height(ui.size.height);
    }
  });
});


</script>
<div class="resizable" style="width: 800px; height: 400px;">
    <iframe src="dispo1.html" style="width: 100%; height: 100%;"></iframe>
</div>