<meta charset="utf-8">
<video width="200" height="150" preload="preload" 
  loop="loop" controls="controls" poster="logo.gif"> 
  <source src="video.h264" type="video/h264"/>
  <source src="video.mp4" type="video/mp4"/>
  <source src="BigBuckBunny.ogv" type="video/ogg"/>
  <object type="application/x-shockwave-flash"
        data="test.swf" width="320" height="240">
    <param name="movie" value="data/test.swf" />
    <param name="loop" value="false" />
    <p>Échec : <a href="video.h264">video.h264</a></p>
  </object>
</video>