<meta charset="utf-8">
<TITLE>Exemple multimedia</TITLE><audio autoplay="autoplay"
                      loop="loop" controls="controls"> 
  <source src="song.ogg" type="audio/ogg"/>
  <p><a href="song.ogg">Télécharger le fichier au
                             format Vorbis</a></p> 
</audio>