<meta charset="utf-8">
<TITLE>Exemple de listes</TITLE><P>Liste de type glossaire :</P><DL>     <DT> OLE <DD> Object Linking and Embedding, liaison et incorporation d'objets     <DT> SQL <DD> Structured Query Language, langage de manipulation de données</DL><DL COMPACT>     <DT> OLE <DD> Object Linking and Embedding, liaison et incorporation d'objets     <DT> SQL <DD> Structured Query Language, langage de manipulation de données</DL>