<meta charset="utf-8">
<TITLE>Les liens hypertexte</TITLE><H2 ALIGN=CENTER>Exemples de liens hypertexte</H2><BODY>	<P>Lien direct à l'intérieur d'un document</P>	Aller au <A HREF="#Paragraphe 9">paragraphe 9</A> directement	<P>	<P>Paragraphe 1</P>	...	<P>Paragraphe 2</P>	...	<P>Paragraphe 3</P>	...	<P>Paragraphe 4</P>	...
	<P>Paragraphe 5</P>	...	<P>Paragraphe 6</P>	...	<P>Paragraphe 7</P>	...	<P>Paragraphe 8</P>	...	<P><A NAME="Paragraphe 9">Paragraphe 9</A></P></BODY>