<meta charset="utf-8">
<style>
td, th
{
	border:  solid black;
}
table {
   border-spacing: 0;
   border-collapse: collapse;
}
</style>
<TITLE>Exemple d'un tableau complexe</TITLE><TABLE><CAPTION><B><I>Installation d'un disque dur</I></B></CAPTION><TR>   <TH ROWSPAN=2 COLSPAN=2></TH>   <TH COLSPAN=2>Connexion</TH>   <TH ROWSPAN=2>Cavaliers</TH>   </TR><TR>   <TH>Carte m&egrave;re</TH>   <TH>Carte contr&ocirc;leur</TH>   </TR><TR>   <TH ROWSPAN=2>Disque dur</TH>   <TD>E-IDE</TD>   <TD>Figure A</TD>   <TD>Figure D</TD>   <TD ROWSPAN=2>Figure G</TD>   </TR><TR>   <TD>SCSI</TD>   <TD>Figure B</TD>   <TD>Figure E</TD>   </TR>