<TITLE>Exemple de listes</TITLE><BODY><P>La Divine Comédie de Dante consiste en 3 livres :</P><UL>     <LI> L'Enfer     <LI> Le Purgatoire     <LI> Le Paradis</UL><OL>     <LI> L'Enfer     <LI> Le Purgatoire     <LI> Le Paradis</OL></BODY>
