body{	
	width: 1000px;
	margin: 0 auto;
	font-family: 'Trebuchet MS', Arial, sans-serif;	
}

header{
	border-radius: 10px 40px 10px 40px; 	border:1px solid black;
	background:grey;
	text-align:center;
	padding: 5px;
	box-shadow: 20px 20px black;
}

article, nav{
	display: inline-block;
}

nav{
	padding: 5px;
	width:70px;
	float:left;	 	border:1px solid black;
	background: #2AA7D1;
	border-radius:  40px 0px 0px 40px;
	text-shadow: 3px 3px grey;
}
section{
	border-radius: 10px;
	width:800px;
	float:left;	
	margin-left: 10px; 	border:1px solid black;
}
footer {
	width: 1000px;
    height: 40px;
    background: #4D4D4D;
    border-radius: 10px;
    border: 1px solid #393939;
    margin: 5px;
    clear: both;
    	text-align:center;
}
