body {					margin: 50px 100px ;			padding-right: 200px ; // et non 200 px;			text-align: right ;			color: #ffffff ;			font: 1.5em helvetica, sans-serif ;			background: indianred ;                     	 border-style: dotted;}h3 { 			margin-left: 15px ; 			padding-left: 5px ; 			border-bottom: 1px solid #9b2 ; 			border-left: 3px solid #9b2 ; 			color: #9b2 ; } 
h2 { 			padding-left: 25px ; 			border-top: 1px solid #ffffff;			line-height: 25px ; 			font-size: 1.4em ; 			border-bottom: 2px solid #ffffff ; }
h1 {			margin: 30px ;color:#000000; 			border-right: 5px solid black ; 			border-top: 5px solid #000000 ;			padding-left: 40%;			margin-right: 10px ; } 